<div  layout="column"  id="loginContainer">
  <br>
  <md-content layout-padding="" class="autoScroll">
    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'User Id' | translate">User Id</label>
      <ng-md-icon icon="person" size="24" style="fill:rgb(255,64,129)"></ng-md-icon>
      <input ng-model="user.userid" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Password' | translate">Password</label>
      <ng-md-icon icon="security" size="24" style="fill:rgb(255,64,129)"></ng-md-icon>
      <input ng-model="user.password" type="password" ng-required="true">
    </md-input-container>
  </md-content>
</div>

<md-button md-no-ink="" class="md-raised md-primary md-button md-default-theme" ng-click="checkCredential()">
  Submit
</md-button>

<div class="container" ng-show="loading" style="padding: 5px;">
  <md-progress-linear></md-progress-linear>
  <div class="bottom-block">
    <span g-bind="'Please wait while we check your account' | translate">Please wait while we check your account</span>
  </div>
</div>