<div  layout="column" id="userUpdateContainer"  ng-cloak>
  <br>
  <md-content layout-padding="" class="autoScroll">
    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Name' | translate">Name</label>
      <ng-md-icon icon="person" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="user.name" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'User Id' | translate">User Id</label>
      <ng-md-icon icon="person" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="user.userid" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'I am' | translate">I am </label>
      <md-select ng-model="user.role">
          <md-option ng-repeat="role in roles" value="{{role.code}}">{{role.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Country' | translate">Country</label>
      <md-select ng-model="user.country">
          <md-option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <ng-md-icon icon="phone" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.contactno" type="text" placeholder="Phone Number">
    </md-input-container>

    <md-input-container>
      <ng-md-icon icon="email" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.email" type="email" placeholder="Email">
    </md-input-container>

    <md-input-container class="md-block">
      <ng-md-icon icon="place" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.address" type="text" placeholder="Address">
    </md-input-container>

    <md-switch ng-model="user.notification" aria-label="Receive notifications">
        Receive notification
    </md-switch>
  </md-content>

  <md-button md-no-ink="" ng-bind="'Update' | translate" class="md-raised md-primary md-button md-default-theme" ng-click="updateUser()">
    Update
  </md-button>
</div>

<div class="container" ng-show="loading" style="padding: 5px;">
  <md-progress-linear></md-progress-linear>
  <div class="bottom-block">
    <span g-bind="'Please wait while we update your profile' | translate">Please wait while we update your profile...</span>
  </div>
</div>
