<div  layout="column" ng-cloak>
  <br>
  <md-content layout-padding="" class="autoScroll">
    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Name' | translate">Name</label>
      <ng-md-icon icon="person" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.name" type="text" readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'User Id' | translate">User Id</label>
      <ng-md-icon icon="perm_identity" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.userid" type="text" readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'I am' | translate">I am</label>
      <ng-md-icon icon="accessibility" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.role" type="text" readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'I am from' | translate">I am from</label>
      <ng-md-icon icon="home" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.country" type="text" readonly="readonly">
    </md-input-container>


    <md-input-container class="md-block">
      <ng-md-icon icon="phone" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.contactno" type="text" placeholder="Phone Number" ng-readonly="true">
    </md-input-container>

    <md-input-container>
      <ng-md-icon icon="email" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.email" type="email" placeholder="Email" ng-readonly="true">
    </md-input-container>

    <md-input-container class="md-block">
      <ng-md-icon icon="place" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.address" type="text" placeholder="Address" ng-readonly="true">
    </md-input-container>

    <md-switch ng-model="user.notification" aria-label="Receive notifications" ng-disabled="true">
        Receive notification
    </md-switch>
  </md-content>
</div>

<md-content style="text-align: center">
  <div layout="row" style="height:30px;margin-bottom: 30px">
    <div flex>
    </div>
    <div flex>
        <ng-md-icon icon="mode_edit" size="30" ng-click="edit()" style="fill:gray" aria-label="Off"></ng-md-icon>
    </div>
    <div flex>
    </div>
  </div>
</md-content>

