<div  layout="column" id="userContainer"  ng-cloak>
  <br>
  <md-content layout-padding="" class="autoScroll">
    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Name' | translate">Name</label>
      <ng-md-icon icon="person" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="user.name" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'User Id' | translate">User Id</label>
      <ng-md-icon icon="person" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="user.userid" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'I am' | translate">I am </label>
      <md-select ng-model="user.role">
          <md-option ng-repeat="role in roles" value="{{role.code}}">{{role.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Country' | translate">Country</label>
      <md-select ng-model="user.country">
          <md-option ng-repeat="country in countries" value="{{country.code}}">{{country.name}}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Language' | translate">Language</label>
      <md-select ng-model="user.locale" ng-change="toggleLanguage()">
          <md-option ng-repeat="locale in locales" value="{{locale.value}}"> {{locale.name || translate }}</md-option>
      </md-select>
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Phone Number' | translate">Phone Number</label>
      <ng-md-icon icon="phone" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.contactno" type="text">
    </md-input-container>

    <md-input-container>
      <label ng-bind="'Email' | translate">Email</label>
      <ng-md-icon icon="email" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.email" type="email">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Address' | translate">Address</label>
      <ng-md-icon icon="place" size="24" style="fill:dodgerblue"></ng-md-icon>
      <input ng-model="user.address" type="text">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Password' | translate">Password</label>
      <ng-md-icon icon="lock" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="user.password" type="password" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Confirm password' | translate">Confirm password</label>
      <!-- Use floating placeholder instead of label -->
      <ng-md-icon icon="lock" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="user.confirmpassword" type="password"  ng-required="true">
    </md-input-container>

    <md-switch ng-model="user.notification" aria-label="Receive notifications">
      <span ng-bind="'Receive Notification' | translate">Receive Notification</span>
    </md-switch>
  </md-content>

  <md-button md-no-ink="" ng-bind="'Submit' | translate" class="md-raised md-primary md-button md-default-theme" ng-click="createUser()">
    Submit
  </md-button>
</div>

<div class="container" ng-show="loading" style="padding: 5px;">
  <md-progress-linear></md-progress-linear>
  <div class="bottom-block">
    <span g-bind="'Please wait while the account creation is in progress' | translate">Please wait while the account creation is in progress...</span>
  </div>
</div>


