<!DOCTYPE html>
<html ng-app="fishHubApp" ng-controller="AppCtrl" ng-csp lang="en">
  <head>
    <script>
      // Detect IE 8 and below in JS using Conditional Comments
      var ie = (function(){
        var version = 3, div = document.createElement('div');
        while (
          div.innerHTML = '<!--[if gt IE ' + (++version) + ']><i></i><![endif]-->',
          div.getElementsByTagName('i')[0]
        );
        return version > 4 ? version : undefined;
      }());
      if (ie && ie < 9) {
        window.location = "/browser.html?v="+ie
      }
    </script>
    <title ng-bind="pageTitle">FishHub</title>
    <meta content="width=device-width" name="viewport">
    <!-- inject:css -->
    <link rel="stylesheet" href="bower_components/angular/angular-csp.css">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="bower_components/angular-material-icons/angular-material-icons.css">
    <!-- endinject -->
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="assets/favicon.ico">
    <link rel="apple-touch-icon" href="assets/apple-touch-icon.png">
  </head>
  <body onunload="">
      <md-toolbar class="md-accent">
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings">
          <ng-md-icon icon="menu" size="20" style="fill:white"></ng-md-icon>
        </md-button>
        <h2>
          <span>Welcome to FishHub</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="Favorite">
          <ng-md-icon icon="person" size="24" style="fill:white"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <ng-md-icon icon="email" size="24" style="fill:black"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <div ui-view="main">
    </div>
    <!-- inject:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-material-icons/angular-material-icons.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="assets/home/home.module.js"></script>
    <script src="assets/i18n/i18n.module.js"></script>
    <script src="assets/login/login.module.js"></script>
    <script src="assets/user/user.module.js"></script>
    <script src="assets/user/user.resource.js"></script>
    <script src="assets/app/app.js"></script>
    <script src="assets/app/app.spec.js"></script>
    <script src="assets/home/home.controller.js"></script>
    <script src="assets/i18n/bh.js"></script>
    <script src="assets/i18n/en.js"></script>
    <script src="assets/login/login.controller.js"></script>
    <script src="assets/user/user-add.controller.js"></script>
    <script src="utility/countries.js"></script>
    <script src="utility/roles.js"></script>
    <script src="templates.js"></script>
    <!-- endinject -->
  </body>
</html>