<div  layout="column" class="inputdemoIcons" id="fishContainer">
  <br>
  <md-content layout-padding="" class="autoScroll">
    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Name' | translate">Name</label>
      <ng-md-icon icon="beenhere" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="fish.name" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Species' | translate">Species</label>
      <ng-md-icon icon="subtitles" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="fish.species" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Grade' | translate">Grade</label>
      <ng-md-icon icon="grade" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="fish.grade" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Size' | translate">Size</label>
      <ng-md-icon icon="add_circle" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="fish.size" type="text" ng-required="true">
    </md-input-container>


    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Quantity' | translate">Quantity</label>
      <ng-md-icon icon="unfold_more" size="24" style="fill:red"></ng-md-icon>
      <input  type="number" ng-model="fish.quantity" ng-required="true">
    </md-input-container>

    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Location' | translate">Location</label>
      <ng-md-icon icon="my_location" size="24" style="fill:red"></ng-md-icon>
      <input ng-model="fish.location" type="text" ng-required="true">
    </md-input-container>
    <md-content layout-padding>
    <div layout layout-sm="column">
      <md-datepicker ng-model="fish.caughtdate" md-placeholder="Enter date"></md-datepicker>
    </div>
    </md-content>

    <md-input-container class="md-icon-float md-icon-right md-block">
      <label>Donation Amount</label>
      <ng-md-icon icon="my_location" size="24" style="fill:red"></ng-md-icon>
      <div layout="row">
        <input ng-model="user.donation" type="number" step="0.01" flex>
        <ng-md-icon icon="my_location" size="24" style="fill:red" style="position: absolute; top: 4px;"></ng-md-icon>
      </div>
    </md-input-container>

    <md-input-container class="md-icon-float">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Pricing' | translate">Pricing</label>
      <ng-md-icon icon="attach_money" size="24" style="fill:red"></ng-md-icon>
      <input type="number"  ng-model="fish.pricing" ng-required="true">
    </md-input-container>

    <md-input-container>
      <label ng-bind="'Currency Type' | translate">Currency Type </label>
      <md-select ng-model="fish.currencytype">
          <md-option ng-repeat="currency in currencies" value="{{currency.cc}}">{{currency.name}}</md-option>
      </md-select>
    </md-input-container>

    <div layout="row" ng-show="loading" layout-sm="column" layout-align="space-around" class="layout layout-row layout-align-space-around layout-sm layout-sm-column">
      <md-progress-circular md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" class="ng-scope md-default-theme" style="transform: scale(0.5);"><div class="md-spinner-wrapper md-mode-indeterminate"><div class="md-inner"><div class="md-gap"></div><div class="md-left"><div class="md-half-circle"></div></div><div class="md-right"><div class="md-half-circle"></div></div></div></div></md-progress-circular>
      <p ng-bind="'Please wait while the account creation is in progress' | translate">Please wait while the account creation is in progress</p>
    </div>
     <md-button md-no-ink="" class="md-raised md-primary md-button md-default-theme" ng-click="addFish()">Submit</md-button>
  </md-content>
</div>

<script type="text/ng-template" id="errors.tmpl.html">
  <md-dialog aria-label="Errors">
    <form>
    <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 ng-bind="'Errors' | translate"></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <ng-md-icon icon="close" size="30" style="fill:white" aria-label="Close dialog"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;">
    <div ng-repeat="error in errors">
     <div ng-bind="'{{ error.fieldNames[0] + error.message }}' | translate"></div>

    </div>
  </md-dialog-content>
  </form>
  </md-dialog>
</script>

<script type="text/ng-template" id="success.tmpl.html">
  <md-dialog aria-label="Successful">
    <form>
    <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 ng-bind="'Successful Signup' | translate"></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <ng-md-icon icon="close" size="30" style="fill:white" aria-label="Close dialog"></ng-md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;">
    <div ng-bind="'Information is submitted.' | translate">Information is submitted.</div>
  </md-dialog-content>
  </form>
  </md-dialog>
</script>
