<div  layout="column"  id="fishContainer"  ng-cloak>
  <br/>
  <div style="padding:8px;">
    <md-input-container class="md-block">
      <label ng-bind="'Name' | translate">Name</label>
      <ng-md-icon icon="input" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.name" type="text" readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Species' | translate">Species</label>
      <ng-md-icon icon="subtitles" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.species" type="text"  readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Grade' | translate">Grade</label>
      <ng-md-icon icon="grade" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.grade" type="text"  readonly="readonly">
      </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Size' | translate">Size</label>
      <ng-md-icon icon="add_circle" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.size" type="text"  readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
    <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Quantity' | translate">Quantity</label>
      <ng-md-icon icon="unfold_more" size="24" style="fill:#323C75"></ng-md-icon>
      <input  type="number" ng-model="fish.quantity"  readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Location' | translate">Location</label>
      <ng-md-icon icon="my_location" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.location" type="text"  readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Pricing' | translate">Pricing</label>
      <ng-md-icon icon="attach_money" size="24" style="fill:#323C75"></ng-md-icon>
      <input type="number"  ng-model="fish.pricing"  readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Currency Type' | translate">Currency Type</label>
      <ng-md-icon icon="attach_money" size="24" style="fill:#323C75"></ng-md-icon>
      <input type="text"  ng-model="fish.currencytype"  readonly="readonly">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Caught Date' | translate">Caught Date</label>
      <ng-md-icon icon="attach_money" size="24" style="fill:#323C75"></ng-md-icon>
      <input type="text"  ng-model="fish.caughtdate"  readonly="readonly">
    </md-input-container>
  </div>
</div>

<md-content style="text-align: center">
  <div layout="row" style="height:30px;margin-bottom: 30px">
    <div flex>
       <ng-md-icon icon="remove-circle" ng-click="delete()" size="30" style="fill:red" aria-label="Add"></ng-md-icon>
    </div>
    <div flex>
        <ng-md-icon icon="add_circle" size="30" ng-click="add()" style="fill:gray" aria-label="Off"></ng-md-icon>
    </div>
    <div flex>
       <ng-md-icon icon="border_color" size="30" ng-click="view()" style="fill:orange" aria-label="Cake"></ng-md-icon>
    </div>
  </div>
</md-content>
