<div  layout="column"  id="fishContainer">
  <md-content layout-padding="" class="autoScroll">
    <md-input-container class="md-icon-float">
  <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Name' | translate">Name</label>
    <ng-md-icon icon="beenhere" size="24" style="fill:gray"></ng-md-icon>
    <input ng-model="fish.name" type="text" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
  <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Species' | translate">Species</label>
    <ng-md-icon icon="subtitles" size="24" style="fill:gray"></ng-md-icon>
    <input ng-model="fish.species" type="text" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
<!-- Use floating label instead of placeholder -->
    <label ng-bind="'Grade' | translate">Grade</label>
    <ng-md-icon icon="grade" size="24" style="fill:gray"></ng-md-icon>
    <input ng-model="fish.grade" type="text" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
  <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Size' | translate">Size</label>
    <ng-md-icon icon="add_circle" size="24" style="fill:gray"></ng-md-icon>
    <input ng-model="fish.size" type="text" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
  <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Quantity' | translate">Quantity</label>
    <ng-md-icon icon="unfold_more" size="24" style="fill:gray"></ng-md-icon>
    <input  type="number" ng-model="fish.quantity" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
    <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Location' | translate">Location</label>
    <ng-md-icon icon="my_location" size="24" style="fill:gray"></ng-md-icon>
    <input ng-model="fish.location" type="text" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
    <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Caught_Date' | translate">Caught Date</label>
    <ng-md-icon icon="calender" size="24" style="fill:gray"></ng-md-icon>
    <input ng-model="fish.caughtdate" type="text" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
    <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Pricing' | translate">Pricing</label>
    <ng-md-icon icon="attach_money" size="24" style="fill:gray"></ng-md-icon>
    <input type="number"  ng-model="fish.pricing" readonly="readonly">
  </md-input-container>

  <md-input-container class="md-icon-float">
    <!-- Use floating label instead of placeholder -->
    <label ng-bind="'Currency' | translate">Currency</label>
    <ng-md-icon icon="attach_money" size="24" style="fill:gray"></ng-md-icon>
    <input ng-model="fish.currencytype" type="text" readonly="readonly">
  </md-input-container>
  </md-content>
</div>

<md-content layout-padding>
  <md-grid-list md-cols-gt-md="3" md-cols-sm="3" md-cols-md="8" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-gt-sm="8px" md-gutter="4px">
    <md-grid-tile>
      <md-button class="md-fab md-fab-top-left right" aria-label="Insert Drive">
        <ng-md-icon ng-click="delete()" style="width: 24px; height: 24px;" icon="remove" size="23" style="fill:gray"></ng-md-icon>
        <md-tooltip md-visible="demo.showTooltip">
          <label ng-bind="'Delete' | translate">Delete</label>
        </md-tooltip>
      </md-button>
    </md-grid-tile>

    <md-grid-tile>
      <md-button class="md-fab md-fab-top-right right" aria-label="Photos">
        <ng-md-icon  ng-click="add()" style="width: 24px; height: 24px;" icon="add" size="23" style="fill:gray"></ng-md-icon>
        <md-tooltip>
          <label ng-bind="'Add' | translate">Add</label>
        </md-tooltip>
      </md-button>
    </md-grid-tile>
    
    <md-grid-tile>
      <md-button class="md-fab md-fab-top-right right" aria-label="Photos">
        <ng-md-icon  ng-click="view()" style="width: 24px; height: 24px;" icon="edit" size="23" style="fill:gray"></ng-md-icon>
        <md-tooltip>
        <label ng-bind="'Edit' | translate">Edit</label>
        </md-tooltip>
      </md-button>
    </md-grid-tile>
  </md-grid-list>
</md-content>