<div  layout="column"  id="fishContainer"  ng-cloak>
  <br/>
  <div style="padding:8px;">
    <md-input-container class="md-block">
      <label ng-bind="'Name' | translate">Name</label>
      <ng-md-icon icon="input" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.name" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Species' | translate">Species</label>
      <ng-md-icon icon="subtitles" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.species" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Grade' | translate">Grade</label>
      <ng-md-icon icon="grade" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.grade" type="text" ng-required="true">
      </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Size' | translate">Size</label>
      <ng-md-icon icon="add_circle" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.size" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
    <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Quantity' | translate">Quantity</label>
      <ng-md-icon icon="unfold_more" size="24" style="fill:#323C75"></ng-md-icon>
      <input  type="number" ng-model="fish.quantity" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Location' | translate">Location</label>
      <ng-md-icon icon="my_location" size="24" style="fill:#323C75"></ng-md-icon>
      <input ng-model="fish.location" type="text" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <!-- Use floating label instead of placeholder -->
      <label ng-bind="'Pricing' | translate">Pricing</label>
      <ng-md-icon icon="attach_money" size="24" style="fill:#323C75"></ng-md-icon>
      <input type="number"  ng-model="fish.pricing" ng-required="true">
    </md-input-container>

    <md-input-container class="md-block">
      <label ng-bind="'Currency Type' | translate">Currency Type</label>
      <md-select ng-model="fish.currencytype">
        <md-option ng-repeat="currency in currencies" value="{{currency.cc}}">{{currency.name}}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div>
    <md-datepicker ng-model="fish.caughtdate" md-placeholder="Enter Caught Date"></md-datepicker>
  </div>

  <md-button md-no-ink="" ng-bind="'Update' | translate" class="md-raised md-primary md-button md-default-theme" ng-click="updateFish()">
      Update
  </md-button>

  <div class="container" ng-show="loading" style="margin-top: 5px;margin-bottom:20px;padding: 5px;">
    <md-progress-linear></md-progress-linear>
    <div class="bottom-block">
      <span g-bind="'Please wait while we update the data' | translate">Please wait while we update the data</span>
    </div>
  </div>
</div>
