<div style="display: flex; flex-flow: column; height: 100%;">
  <div>
    <md-content>
      <md-toolbar style="background-color:whi">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <h2>
              <span>Toolbar with Icon Buttons</span>
            </h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
    </md-content>
  </div>

  <div style="min-height: 0; flex: 1; overflow: auto;">
    <div style="height: auto;">
      <md-content layout-padding="" class="autoScroll">
        <md-list>
          <md-list-item class="md-1-line" ng-repeat="chat in chats">
            <img ng-src="" class="md-avatar" alt="" />
            <div md-swipe-right="" class="md-list-item-text" layout="column">
              <h1></h1>
              <p>{{chat.message }}</p>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>

  <div class="sticky">
    <div layout="row" layout-wrap>
      <div flex="80">
        <md-input-container class="md-block">
          <input ng-model="message" placeholder="Type a message">
        </md-input-container>
      </div>

      <div flex="20">
        <md-button class="md-raised" ng-click="sendText()">Send</md-button>
      </div>
    </div>
  </div>

</div>
<style type="text/css">
  .sticky {
    top:calc( 100% - 100px );
    position:fixed;
    height:50px;
    width: 100%;
    background-color: w;
  }
</style>