<div style="display: flex; flex-flow: column; height: 100%;">
  <div>
    <md-content>
      <div style="background-color:rgba(158, 158, 158, 0.16);">
        <div layout="row" style="padding: 10px">
          <div flex>
            <ng-md-icon icon="clear_all" size="25" style="fill:#161521"></ng-md-icon>
          </div>
          <div flex>
            <ng-md-icon icon="refresh" size="25" style="fill:#161521"></ng-md-icon>
          </div>
          <div flex>
            <ng-md-icon icon="thumb_up" size="25" style="fill:#161521"></ng-md-icon>
          </div>
          <div flex>
            <ng-md-icon icon="thumb_down" size="25" style="fill:#161521"></ng-md-icon>
          </div>
        </div>
      </div>
    </md-content>
  </div>

  <div style="min-height: 0; flex: 1; overflow: auto;">
    <div style="height: auto;">
      <md-content layout-padding="" class="autoScroll">
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="chat in chats">
            <img ng-src="http://icons.iconarchive.com/icons/designbolts/free-male-avatars/128/Male-Avatar-icon.png" class="md-avatar" alt="" />
            <div md-swipe-right="" class="md-list-item-text" layout="column">
              <h5> {{ userName }} </h5>
              <p>{{chat.message }}</p>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>

  <div class="sticky">
    <div layout="row" layout-wrap>
      <div flex="80">
        <md-input-container class="md-block">
          <input ng-model="message" placeholder="Type a message">
        </md-input-container>
      </div>
      <div flex="20">
        <md-button class="md-raised" ng-keypress="keyPress($event)" ng-click="sendText()">Send</md-button>
      </div>
    </div>
  </div>

</div>
<style type="text/css">
  .sticky {
    top:calc( 100% - 50px );
    position:fixed;
    height:50px;
    width: 100%;
    background-color: rgb(224,224,224);
  }
</style>