<div style="display: flex; flex-flow: column; height: 100%;">
  <div>
    <md-content>
      <div style="background-color:rgba(158, 158, 158, 0.16);">
        <div layout="row" style="padding: 10px">
          <div flex>
            <ng-md-icon icon="clear_all" size="25" style="fill:#161521"></ng-md-icon>
          </div>
          <div flex>
            <ng-md-icon ng-click="getChats()" icon="refresh" size="25" style="fill:#161521"></ng-md-icon>
          </div>
          <div flex>
            <ng-md-icon icon="thumb_up" size="25" style="fill:#161521"></ng-md-icon>
          </div>
          <div flex>
            <ng-md-icon icon="thumb_down" size="25" style="fill:#161521"></ng-md-icon>
          </div>
        </div>
      </div>
    </md-content>
  </div>

  <div style="min-height: 0; flex: 1; overflow: auto;">
    <div style="height: auto;">
      <md-content layout-padding="" class="autoScroll">
        <md-list>
          <md-list-item class="md-2-line" ng-repeat="chat in chats">
            <img ng-src="http://icons.iconarchive.com/icons/designbolts/free-male-avatars/128/Male-Avatar-icon.png" class="md-avatar" alt="" />
            <div md-swipe-right="" class="md-list-item-text" layout="column">
              <h5> {{ userName }} </h5>
              <p ng-show="chat.messagetype != 'mime'">{{chat.message }}</p>
              <p ng-show="chat.messagetype == 'mime'">
                <img src="{{chat.mimeurl}}" class="">
              </p>
            </div>
            <md-divider></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>

  <div class="sticky">
    <div layout="row" layout-wrap style="height:20px">
      <div flex="10">
        <div class="file-input-wrapper" upload-button url="/chats" data="mimeChat" param="mime" on-upload="onUpload(files)" on-success="onSuccess(response)" on-error="onError(response)" on-complete="onComplete(response)">
          <ng-md-icon icon="photo_camera" size="25" style="fill:orange"></ng-md-icon>
        </div>
      </div>
      <div flex="80">
        <input ng-model="message" class="message_box" type="text" placeholder="Type a message">
      </div>
      <div flex="10">
        <ng-md-icon icon="send" size="25" style="fill:orange" ng-click="sendText()"></ng-md-icon>
      </div>
    </div>
  </div>
</div>
<style type="text/css">
  .sticky {
    top:calc( 100% - 45px );
    position:fixed;
    height:30px;
    width: 100%;
    padding: 5px;
    background-color: rgb(224,224,224);
  }
  .message_box {
    width: 90%;
    height:20px;
    border: 1px solid white;
  }

  .file-input-wrapper {
    margin: 2px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  .file-input-wrapper > input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
  }
  .file-input-wrapper > .btn-file-input {
    background-color: #494949;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin: 0 0 0 -1px;
    padding-left: 0;
    cursor: pointer;
  }
</style>
