<div  id="welcomeContainer">
  <div id="welcome" style="background: white;">
   <md-content layout-padding="">
      <md-list>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" ng-click="go('login')">
            <ng-md-icon icon="login"  size="30" style="fill:dodgerblue"></ng-md-icon>
            <h3>Login</h3>
            <p>Login into your account</p>
          </div>
        </md-list-item>
        <md-divider></md-divider>
        <md-list-item class="md-2-line">
          <div class="md-list-item-text" ng-click="go('users')">
            <ng-md-icon icon="account_circle"  size="30" style="fill:dodgerblue"></ng-md-icon>
            <h3>Sign Up</h3>
            <p>You can create a new account</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </div>
  <p style="color: white"> Welcome to Fishhub </p>
</div>

<style type="text/css">
  #welcomeContainer {
    background: url('images/background.png');
    width: auto;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 10px;
  }
  #welcome {
    -webkit-box-shadow: 4px 3px 4px 4px #FFFFFF;
    box-shadow: 4px 3px 4px 4px #FFFFFF;
  }
  #welcome a {
    font-size: 18px;
    font-style: italic;
    text-decoration: none;
  }
</style>

